@use "../tokens" as *;
@use "../functions" as *;
@use "../mixins" as *;

.section.spaced {
  padding-top: units(6);
  padding-bottom: units(6);
}

.section .header .title-h1 {
  margin-bottom: units(4);
  padding-top: units(2);
  padding-bottom: units(2);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  @include h2;

  @media (min-width: $breakpoint-tablet) {
    text-align: unset;
  }
}
